*{
    padding: 0;
    margin: 0;
}

#main-div{
    height: 500px;
    width: 500px;
    background-color: #ebebeb;
    margin: 50px auto;
    position: relative;

}

.circle-all{
    height: 10px;
    width: 10px;
    background-color: #4499cb;
    position: absolute;
    border-radius: 50%;

}